a {
  color: rgb(51,126,221);
  text-decoration: none;
  outline: none;
}
a:hover {opacity: .6;}

td {
  border-bottom: dotted 1px rgb(204,204,204);
  padding-left: .5rem
}

ol {
  counter-reset: section;
  list-style-type: none
}

li::before {
  counter-increment: section;
  content: counters(section,".") " ";
}

body > ol {padding-left:0}

